.nav-bar {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.nav-bar__inner {
  display: flex;
  flex: 0 0 auto;
  box-shadow: 0px 0px 23px 5px rgba(216,234,234,1);
}

.link {
  display: block;
  padding: 20px;
  color: black;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}

.link:not(:last-child) {
  border-right: 1px solid #ebf2f2;
}

.active-link {
  background: #d8eaea;
  background: -moz-linear-gradient(left, #d8eaea 0%, #ecf5f5 33%, #ecf5f5 62%, #d8eaea 100%);
  background: -webkit-linear-gradient(left, #d8eaea 0%,#ecf5f5 33%,#ecf5f5 62%,#d8eaea 100%);
  background: linear-gradient(to right, #d8eaea 0%,#ecf5f5 33%,#ecf5f5 62%,#d8eaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8eaea', endColorstr='#d8eaea',GradientType=1 );
  box-shadow: none;
  z-index: 0;
  border-bottom: none;
}


